<div ng-include="'components/navbar/navbar.html'"></div>

<div class="login-form">
  <div class="row">
    <div class="col-sm-12">
      <h1>Please sign in</h1>
      <hr/>
      <!--
      <p>Default user account <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account <code>admin@admin.com</code> / <code>admin</code></p>
      -->
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <input type="email" name="email" class="form-control input-lg" ng-model="user.email" required placeholder="Email address" autofocus>
        </div>

        <div class="form-group">
          <input type="password" name="password" class="form-control input-lg" ng-model="user.password" required placeholder="Password">
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-lg btn-success" type="submit">
            Sign in
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/signup">
            Register
          </a>
        </div>

        <h4>or</h4>
        <div>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
