$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.login-form {
  max-width: 400px;
  margin: 60px auto 0 auto;
  text-align: center;
  border: 1px solid #E7E7E7;
  padding: 25px;
  background-color: #F8F8F8;
  border-radius: 4px;
}

.marketing {
  margin-top: 50px;
}

.fa-6x {
  font-size: 6em;
}

.featurette {
  text-align: center;
  color: #636363;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F5F5F5;
  border-right: 1px solid #EEE;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar .title {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.nav-sidebar .active {
  background-color: #EEE;
}

.section-title {
  margin-top: 0;
}

.section-content-title-wrapper {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 8px;
  margin-top: -10px;
}

.section-content-title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.show-item {
  border-bottom: 1px solid #eeeeee;
  // background-color: #DCEFF8;
}

.show-item div {
  display: block;
  // margin-top: 15px;
  padding: 15px;
  text-shadow: 1px 1px white;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector
