<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">watchlist</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/my-list')}"><a ui-sref="mylist.all">My List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a ui-sref="signup">Register</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a ui-sref="login">Sign in</a></li>
        <li ng-show="isLoggedIn()" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{getCurrentUser().name}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="{active: isActive('/settings')}"><a ui-sref="settings"><i class="fa fa-user"></i> Profile</a></li>
            <li ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
