<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>watchlist</h1>
    <p class="lead">The easiest way to keep track of your favorite TV shows, series, and more!</p>
  </div>
</header>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4 col-sm-12 featurette">
      <span class="fa-stack fa-6x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
      </span>
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-lg-4 col-sm-12 featurette">
      <span class="fa-stack fa-6x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-binoculars fa-stack-1x fa-inverse"></i>
      </span>
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-lg-4 col-sm-12 featurette">
      <span class="fa-stack fa-6x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
      </span>
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>watchlist v0.0.1 | <a href="https://twitter.com/jonathan_welzel" target="_blank">@jonathan_welzel</a></p>
  </div>
</footer>
