<h2 class="section-title"><i class="fa fa-heart"></i> My favorite shows</h2>
<hr/>

<span class="alert alert-warning col-sm-12 text-center" ng-show="favorites.length === 0">You have not added any shows to your Favorites yet</span>

<div class="section-content" ng-hide="favorites.length === 0">
  <div class="clearfix section-content-title-wrapper">
    <div class="section-content-title col-sm-2 col-sm-offset-2"><a href="">Title</a></div>
    <div class="section-content-title col-sm-4"><a href="">Description</a></div>
    <div class="section-content-title col-sm-2"><a href="">When</a></div>
    <div class="section-content-title col-sm-2"><a href="">Where</a></div>
  </div>

  <div class="show-item clearfix" ng-repeat="item in favorites">
    <div class="col-sm-2 text-center"><img class="img-thumbnail" width="80px" height="80px" ng-src="{{item.poster}}"></div>
    <div class="col-sm-2">{{item.name}}</div>
    <div class="col-sm-4">{{item.description}}</div>
    <div class="col-sm-2">{{item.date | date: 'short'}}</div>
    <div class="col-sm-2">{{item.media}}</div>
  </div>
</div>
