<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid my-list-container">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="title">options</li>
        <li><a href="" ng-click="openModal()"><i class="fa fa-plus"></i> Add new show</a></li>
        <li class="title">view</li>
        <li ng-class="{active: isActive('/my-list/all')}"><a ui-sref="mylist.all"><i class="fa fa-bars"></i> All <span class="badge pull-right" ng-show="allShowsCount > 0">{{allShowsCount}}</span></a></li>
        <li ng-class="{active: isActive('/my-list/favorites')}"><a ui-sref="mylist.favorites"><i class="fa fa-heart"></i> Favorites  <span class="badge pull-right" ng-show="allFavoritesCount > 0">{{allFavoritesCount}}</span></a></li>
        <li ng-class="{active: isActive('/my-list/upcoming')}"><a ui-sref="mylist.upcoming"><i class="fa fa-clock-o"></i> Coming next</a></li>
        <li ng-class="{active: isActive('/my-list/tagged')}"><a ui-sref="mylist.tagged"><i class="fa fa-tag"></i> Tags</a></li>
      </ul>
    </div>
    <div class="col-sm-10 col-sm-offset-2 main">
      <div ui-view=""></div>
    </div>

  </div>
</div>
