<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Add new show to list</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="showName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="showName" placeholder="Show, series, movie..." ng-model="show.name" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="showDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="showDescription" placeholder="A group of survivors from the Cylon wars ventures into space..." ng-model="show.description">
        </div>
      </div>
      <div class="form-group">
        <label for="date-input" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          <div class="dropdown">
            <a class="dropdown-toggle" id="date-dropdown" role="button" data-toggle="dropdown">
              <div class="input-group">
                <input id="date-input" type="text" class="form-control" data-ng-model="show.date" placeholder="Click to pick a date">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="date-dropdown">
              <datetimepicker data-ng-model="show.date" data-datetimepicker-config="{ dropdownSelector: '#date-dropdown' }"/>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="showMedia" class="col-sm-2 control-label">Where</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="showMedia" placeholder="Netflix, Fox 8, theater, bluray..." ng-model="show.media">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save(show)">Save</button>
  </div>
</div><!-- /.modal-content -->
